<div class="container">

    <app-hero-greeting greeting="Create Your Mapster Account"></app-hero-greeting>

    <div class="columns">

        <div class="column">

            <div class="box">

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input #emailInput class="input has-background-light" type="email" placeholder="Email input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <p *ngIf="this.emailTakenFail()" class="help is-danger">This email is already registered.</p>
                    <p *ngIf="this.emailFail()" class="help is-danger">This email is invalid.</p>
                </div>

                <div class="field">
                    <label for="" class="label">Password</label>
                    <div class="control has-icons-left">
                        <input #passwordInput class="input has-background-light" type="password" placeholder="*******"
                            required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <p *ngIf="this.passwordFail()" class="help is-danger">Password must contain at least eight
                        characters, at least one letter and one number.</p>
                </div>

                <div class="field pt-4 pb-4">
                    <button class="button is-medium is-fullwidth is-success"
                        (click)="btnSignOnAction(emailInput.value, passwordInput.value)">
                        Sign up
                    </button>
                </div>
                <div>
                    <a href="/login">I already have a Mapster Account</a>
                </div>

            </div>
        </div>

        <div class="column" id="right-pic">
            <figure class="image is-256x256">
                <img src="../../../assets/images/doggie.png" alt="Italian Trulli">
            </figure>
        </div>
    </div>