<div class="container">
    <nav class="navbar pt-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <h1 class="is-size-3">Mapster</h1>
        </div>
    </nav>

    <section class="section is-medium pl-0">
        <h1 class="title is-size-1">Create Your Mapster Account</h1>
    </section>

    <div class="columns">

        <div class="column">

            <form action="" class="box">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                        <!--input is-success-->
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                            <!--<i class="fas fa-check"></i>-->
                        </span>
                    </div>
                    <p class="help is-danger">This email is invalid</p>
                </div>

                <div class="field">
                    <label class="label">Confirm Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-danger" type="email" placeholder="Email input">
                        <!--input is-success-->
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                            <!--<i class="fas fa-check"></i>-->
                        </span>
                    </div>
                    <p class="help is-danger">Emails do not match</p>
                </div>

                <div class="field">
                    <label for="" class="label">Password</label>
                    <div class="control has-icons-left">
                        <input type="password" placeholder="*******" class="input" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                
                <div class="field pt-4 pb-6">
                    <button class="button is-medium is-fullwidth is-success">Sign in</button>
                </div>
                <div>
                    <a href="/log-in">I already have a Mapster Account</a>.
                </div>
            </form>
        </div>

        <div class="column" id="right-pic">
            <figure class="image is-256x256">
                <img src="../../../assets/images/doggie.png" alt="Italian Trulli">
            </figure>
        </div>
    </div>
</div>